@model ClothesFormServiceModel

@{
    ViewData["Title"] = "Edit Product";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_ClothesFormPartialView")
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

